@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.fa-location-dot {
  color: #353535;
}

.fa-mobile-screen-button, .fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: #F6F6F6;
  z-index: -1;
}

.lieu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
}
.lieu .lieu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
}
.lieu .lieu__text {
  font-size: 1rem;
  font-weight: 500;
}

.reservation {
  display: flex;
  flex-direction: column;
  padding: 39.5px 0px 57px 0px;
}
.reservation .reservation__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.reservation .reservation__container .reservation__title {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0px 42px 10px 42px;
  text-align: center;
}
.reservation .reservation__container .reservation__text {
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
}
.reservation .reservation__container .reservation__button {
  width: 218px;
  height: 50px;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 1px transparent;
  border-radius: 25px;
  margin-top: 27px;
  padding: 13px 0px;
}

.fonctionnement {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
  gap: 26px;
}
.fonctionnement .fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement .fonctionnement__card {
  height: 72.38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}
.fonctionnement .fonctionnement__card .fonctionnement__card__number {
  background-color: #9356DC;
  color: #F6F6F6;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement__card .fonctionnement__card__content {
  width: 322.49px;
  height: 100%;
  gap: 23px;
  padding: 0px 38px 0px 35px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 54px 14px 66px 15px;
  gap: 22px;
}
.restaurant .restaurant__container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.restaurant .restaurant__card {
  height: 251px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
.restaurant .restaurant__card .restaurant__card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: 0% 61.5%;
  border-radius: 15px 15px 0px 0px;
}
.restaurant .restaurant__card .restaurant__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  display: flex;
  border-radius: 0px 0px 15px 15px;
  padding: 16px 25px 12px 13px;
}
.restaurant .restaurant__card .restaurant__card__content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.restaurant .restaurant__card .restaurant__card__content div p {
  font-weight: 300;
  font-size: 1.063rem;
}
.restaurant .restaurant__card .restaurant__card__content i {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

footer {
  width: 100%;
  background-color: #353535;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 186px;
  padding: 22px 25px;
}
footer .footer__p {
  font-family: "Shrikhand", sans-serif;
  color: #F6F6F6;
  font-size: 18px;
  padding-bottom: 16px;
}
footer .footer__ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer__div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .fa-utensils {
  padding-right: 11px;
}
footer .fa-handshake-angle {
  padding-right: 6px;
}

a {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  height: 63px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 14px 108px 5px 105px;
  background-color: #FFFFFF;
}

body {
  background-color: #F6F6F6;
  font-family: "Roboto", sans-serif;
}