// Couleur par défaut des icônes
.fa-solid {
    color: $icon_grey;
}

.fa-location-dot {
    color: $icon_dark;
}

// Badge "Nouveau"
.new:after {
    content: "Nouveau";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary_color;
    width: 80px;
    height: 29px;
    position: absolute;
    margin-top: 12px;
    right: 25px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: $badge_new_text;
    font-weight: 500;
    font-size: 0.875rem;
}

.fa-arrow-left {
    position: absolute;
    left: 23px;
    top: 24px;
    bottom: 23px;
    color: black;
}

// Menu "Sélection"
.selection::after {
    content: "\f058";
    font: var(--fa-font-solid);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary_color;
    width: 59px;
    height: 69px;
    position: absolute;
    left: 303px;
    border-radius: 0px 15px 15px 0px;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    color: white;
    transition: all 500ms;
}

// Icône "Favoris"
@mixin heart {
    .fa-heart {
        cursor: pointer;
        position: absolute;
        height: 24px;
        width: 24px;
        padding-top: 10px;
        color: black;
        transition: all 500ms ease-in-out;
    }
 
    .fa-solid {
        color: transparent;
        opacity: 0;
        background: $gradient_color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
 
    &:hover {
        .fa-solid {
            opacity: 1;
        }
    }
 }