$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$bg_color: #F6F6F6;
$footer_color : #353535;

$gradient_color : linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

$icon_grey: #7E7E7E;
$icon_light: #FFFFFF;
$icon_dark: #353535;